
set_io sys_clk 49

set_io led[0] 110
set_io led[1]  93
# set_io led[2]  94

# gpio 0, 1
set_io btn[0]  141
set_io btn[1]  139

# gpio 2, 3
set_io uart_txd_in  138
set_io uart_rxd_out  137

# gpio 4, 5, 6
set_io trigger_in  136
set_io power_out  135
set_io glitch_out  134

# set_io gpio_7  130

# gpio 8 .. 15
set_io gpio[0]  55
set_io gpio[1]  56
set_io gpio[2]  47
set_io gpio[3]  48
set_io gpio[4]  44
set_io gpio[5]  45
set_io gpio[6]  42
set_io gpio[7]  43

# gpio 16, 17
set_io rgb[0]  41
set_io rgb[1]  39
set_io rgb[2]  38

